doctype html
html
	head
		title Hello wul
	body
		h2 Welcome to pug
		p.greet Hello Wul, I m pug, pug life!
		div
			| hello this -> sign | used to insert multiline
			| world
		div.
			But that gets tedious if you have a lot of text. You can use "." at the end of tag to denote block of text.